<ion-header>
  <ion-toolbar>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Some instructions</ion-card-subtitle>
        <ion-card-title>Facilitate Documentation</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        To correctly identify what makes up your photo, we would need you to blabla
      </ion-card-content>
    </ion-card>

  <div class="btn-container">
    <ion-button size="large" expand="block" color="primary" (click)="openCamera()" id="photo-btn">
      <ion-icon slot="start" name="camera"></ion-icon>
      Take a picture
    </ion-button>  
    <ion-button size="large" expand="block" color="primary" (click)="openGallery()" id="select-btn">
      <ion-icon slot="start" name="grid"></ion-icon>
      Select an image
    </ion-button>
  </div>
</ion-content>