<ion-header>
  <ion-toolbar>
    <ion-title>Image Detail</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="app/tabs/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div padding class="image">
    <img [src]="image"/>
  </div>
  <div padding>
    <ion-item *ngFor="let item of imageData | keyvalue">
      <ion-label>{{ item.key }}</ion-label>
      <ion-label>{{ item.value }}</ion-label>      
    </ion-item>
  </div>
</ion-content>
